set default 0
set timeout=5
set menu_color_normal=white/black
set menu_color_highlight=yellow/black

menuentry "Try Kylin-Desktop V10 without installing" {
linux /vmlinuz console=tty1 boot=casper quiet splash loglevel=0 audit=0 netboot=nfs nfsroot=192.168.1.1:/opt/nfs/mips64-kylin security=
initrd /initrd.img
}

menuentry 'Install Kylin-Desktop V10'{
linux /vmlinuz console=tty1 boot=casper quiet splash loglevel=0 only-ubiquity audit=0 netboot=nfs nfsroot=192.168.1.1:/opt/nfs/mips64-kylin security=
initrd /initrd.img
}

