[Unit]
Description=Kylin System Tools Server
Documentation=https://github.com/tubinchun/Operation_Tools
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/kylintools-server --host 0.0.0.0 --port 29876
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

Environment=PYTHONPATH=/usr/share/kylin-system-tools

[Install]
WantedBy=multi-user.target
