[Desktop Entry]
Encoding=UTF-8
Name=麒麟运维百宝箱
Name[zh_CN]=麒麟运维百宝箱
Comment=银河麒麟系统运维管理工具
Comment[zh_CN]=银河麒麟系统运维管理工具
Exec=/usr/bin/kylintools
Icon=kylin-system-tools
Terminal=false
Type=Application
Categories=System;Settings;Administration;Utility;
Keywords=system;admin;kylin;management;tools;monitor;
StartupNotify=true
StartupWMClass=kylin-system-tools
X-KDE-SubstituteUID=false
X-KDE-Username=root